.profile {
  border-radius: 10px;
  width: 250px;
  height: 400px;
};

.description {
background-color: red;
}

.name {
font-style: italic;
};

.tag {
font-style: italic;
};

.location {
  font-style: italic;
}

.avatar {
  width: 100px;
  height: 50px;
}

.stats {
  list-style: none;
}

